* {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

.title {
	text-align: center;
	padding-top: 10px;
}

hr {
	width: 95%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.content-box {
	text-align: center;
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #ffffff;
}

.box-fl {
	background-color: #9f4a4a;
	box-sizing: border-box;
	width: 95%;
	height: 100%;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	text-align: left;
	overflow: auto;
}

.box-lg {
	background-color: #ba9a50;
	box-sizing: border-box;
	width: 71%;
	height: auto;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 10px;
	text-align: left;
	overflow: auto;
}

.box-md {
	background-color: #4d4d95;
	box-sizing: border-box;
	width: 47%;
	height: auto;
	display: inline-block;
	padding: 10px;
	margin: 5px 5px 5px 5px;
	overflow: auto;
}

.box-sm {
	background-color: #859048;
	box-sizing: border-box;
	height: auto;
	width: 23%;
	display: inline-block;
	padding: 10px;
	margin: 5px 4px 5px 4px;
	overflow: auto;
}