*{
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #a6bfa0;
}

#nav-top {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#nav-top ul{
	list-style: none;
  background-color: #444e41;
  text-align: center;
	border-radius: 0px 0px 0px 0px; <!--TL  TR  BR  BL-->
}

#nav-top li {
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	margin-right: -4px;
	width: 180px;
	border-bottom: none;
	height: 60px;
	line-height: 60px;
	font-size: 1.5em;	
}

#nav-top ul ul {
	display: none;
	
}

#nav-top ul li:hover > ul {
	display: block;
	position: absolute;
}
	#nav-top ul ul li {
		float: none;
		position: relative;
		background-color: #887395; 
		border-top: 2px solid black;
	}
		#nav-top ul ul li a:hover {
			background-color: #504358;
		}


#nav-top a {
	text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

#nav-top a:hover {
	background-color: #887395;
}

#nav-top a:active {
 background-color: #a6bfa0;
 color: #444e41;
 cursor: default;
}


