* {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: #a6bfa0;
}

.nav-top {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.nav-top ul{
	list-style: none;
  background-color: #444e41;
  text-align: center;
	border-radius: 0px 0px 0px 0px; <!--TL  TR  BR  BL-->
}

.nav-top li {
	font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

@media screen and (min-width: 600px) {
	.nav-top li {
		display: inline-block;
		margin-right: -4px;
		width: 160px;
    border-bottom: none;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;	
	}
}

.nav-top a {
	text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav-top a:hover {
	background-color: #887395;
}

.nav-top a.active {
 background-color: #a6bfa0;
 color: #444e41;
 cursor: default;
}


.Title {
	text-align: center;
}

hr {
	width: 700px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}



