*{
    margin: 0;
    padding: 0;
    
}

ul {
 margin-left: 20px
}

#center {
    width: 900px;
    margin: 0 auto;
}

<!--@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

div {
    font-family: myFirstFont;
} -->

#header {
    margin-top: 200px;
    text-align: center;
}

#header > img {
    text-align: center;
}


body {
    background-color: black;
}



#showcase {
    width: 600;
    height: 700px;
    background-color: grey;
    padding: 20px;
    margin: 0 auto;
}




#headerBck {
    background-color: black;
    opacity: .5;
}

#imgBox {
 float: left;
 width: 600px;
 height: 350px;
 background-color: green;
}

#VNav {
 float: left;
}

#VNav  > ul > li{
 list-style: none;
 border: 1px solid black;
}




